.label-policy {	
margin-bottom: 20px;
font-size: 20px;	
text-align: center;    
font-family: WorkSansBold;  	
}
.label {
font-size: 15px;	
margin-bottom: 10px;	
}
.label-license {
margin-top: 10px;	
margin-bottom: 20px;
font-size: 20px;	
text-align: center;    
font-family: WorkSansBold;  	
}